.favoriteContent {
    background-color: #E1E6E0;
    width: 100%;
    border-top: 2px solid black;

}

h1 {
    padding: 20px;
}

.articleList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}